# {{ project_name }}

> {{ project_description }}

## 🚀 Getting Started

### Usage

To use this GitHub Action in your workflow, add the following step:

```yaml
- uses: github.com/{{ project_slug }}@v1
  with:
    name: Alice
    greeting: Hi
```

### Inputs

| Name       | Description          | Required | Default |
| ---------- | -------------------- | -------- | ------- |
| `name`     | The name of the user | Yes      | `world` |
| `greeting` | The greeting message | No       | `Hello` |

### Outputs

This action does not produce any outputs. It simply prints a message.

## 📩 Contact

- 📧 **Email**: [oss@brunopaz.dev](mailto:oss@brunopaz.dev)
- 🐞 **Issues**: [GitHub Issues]({{git_url}}/issues)
- 🖇️ **Source**: [{{git_url}}]({{git_url}})

## 🗒️ License

This project is licensed under the [MIT License](LICENSE).

